@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  background-color: #343D4B;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  max-width: 1014px;
  margin: 0 auto;
  display: flex;
}

.weather-card {
  width: 51%;
  height: 623px;
  padding: 55px 50px 62px;
  margin-top: 24px;
  border-radius: 0 25px 25px 0;
  background-color: #222831;
}

.country-card {
  width: 49%;
  height: 666px;
  padding: 48px 32px 84px;
  border-radius: 30px;
}

.bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.loader-container {
  margin: 0 auto;
}

 @media screen and (max-width: 700px) {
  body {
    background-color: #222831;
  }
  .App {
    flex-direction: column;
  }

  .weather-card,
  .country-card {
    width: 100%;
    padding: 0;
  }

  .weather-card {
    height: 300px;
    border-radius: 0 0 25px 0;
    margin-top: 0;
  }
  
  .country-card {
    border-radius: 0;
    height: 400px; 
  }
 }
 